@model DepartmentViewModel

<h4>Doctor Details</h4>

<div>
    <div>
        <h6>DepartmentName:</h6>
        <p>@Model.DepartmentName</p>
    </div>

    <div>
        <h6>Description:</h6>
        <p>@Model.Description</p>
    </div>

    <div>
        <h6>HeadOfDepartment:</h6>
        <p>@Model.HeadOfDepartment</p>
    </div>

    <div>
        <h6>PhoneNumber:</h6>
        <p>@Model.PhoneNumber</p>
    </div>

    <div>
        <h6>Email:</h6>
        <p>@Model.Email</p>
    </div>

</div>
