@model List<DepartmentViewModel>


<div>
    <a asp-action="Create" class="btn btn-secondary   text-white">Create Department</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>DepartmentName</th>
            <th>Description</th>
            <th>HeadOfDepartment</th>
            <th>PhoneNumber</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.DepartmentName</td>
                <td>@doctor.Description</td>
                <td>@doctor.HeadOfDepartment</td>
                <td>@doctor.PhoneNumber</td>
                <td>@doctor.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@doctor.DepartmentId" class="btn btn-info">Edit</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Department" , new { id = doctor.DepartmentId })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this doctor?')">Delete</a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Department", new { id = doctor.DepartmentId })" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
