@model AppointmentViewModel

<h4>Doctor Details</h4>

<div>
    <div>
        <h6>Patient Name:</h6>
        <p>@Model.PatientName</p>
    </div>

    <div>
        <h6>AppointmentDate:</h6>
        <p>@Model.AppointmentDate</p>
    </div>

    <div>
        <h6>DoctorId:</h6>
        <p>@Model.DoctorId</p>
    </div>

    <div>
        <h6>AppointmentType:</h6>
        <p>@Model.AppointmentType</p>
    </div>

    <div>
        <h6>Reason:</h6>
        <p>@Model.Reason</p>
    </div>

</div>
